{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>
                        Long is a cybersecurity staff/assistant consultant at EY. He holds two master’s degrees from the University of Delaware: one in Cybersecurity and one
                            in Business Analytics and Information Management. He also has several certifications in AWS, Splunk, and other technologies.
                        </p>
                        <p>
                            Long is passionate about artificial intelligence and its applications in cybersecurity. He has experience in building autonomous agents in Python that can make optimal decisions in various settings.
                            He also has a deep understanding of machine learning methods and how they can help create intelligent agents that can infer and act in uncertain environments.
                            Furthermore, Long is skilled in applied cryptography and its use in security applications.
                            He has implemented cryptography in Python for different scenarios and evaluated the security mechanisms based on cryptography.
                            He is familiar with the strengths and weaknesses of different cryptographic methods and modes of operation, as well as the implementation issues that may arise.
                            Additionally, Long has a strong background in identity access management and data analytics, which he has developed through his work at EY.

                        </p>
                        <p>
                            Long is always eager to learn new skills and technologies that can enhance his cybersecurity expertise. He enjoys solving complex problems and challenges
                            that require creativity and innovation. He is also a team player who values collaboration and communication with his colleagues and clients. Long’s goal
                            is to provide high-quality cybersecurity solutions that meet the needs and expectations of his customers.
                        </p>
                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}