{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/cyber.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Experiences</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <strong style="font-size: 1.2em; display: inline-block">Medical Specialist</strong>
                        <br><p style="display: inline-block; margin: 0.5em">U.S. Army Reserve / June 2016 - Present</p><br>
                        <ul>
                            <li>Practice emergency medical procedure on mannequin and colleagues.</li>
                            <li>Train to develop and improve discipline , military bearing , communication and other necessary social skills.</li>
                            <li>Train annually on cyber awareness, phishing awareness, and identifying and safeguarding personally identifiable information.</li>
                        </ul>

                        <strong style="font-size: 1.2em; display: inline-block">Cybersecurity Consultant</strong>
                        <br><p style="display: inline-block; margin: 0.5em">EY / July 2022 - September 2023</p><br>
                        <ul>
                            <li>Developed and maintained detailed deliverable tracking documents, effectively cataloging team submissions and pending client deliverables.</li>
                            <li>Streamlined project oversight and adherence to deadlines, fostering clear communication with stakeholders.</li>
                            <li>Led the compilation of comprehensive meeting minutes for daily team standups and client engagements.These detailed records facilitated internal reflection and client communication, enhancing project understanding and transparency.</li>
                            <li>Collaborated with the cybersecurity team to design and implement identity/access management infrastructure. This collaboration fortified controls and technology rationalization, ensuring security and operational excellence for a prominent social media client.</li>
                            <li>Utilized Splunk and MITRE ATT&CK framework to automate security measures, identify security improvements, perform technical solutions to security vulnerabilities, and develop security assessments and threat models based on real-world observations of adversary tactics and techniques.</li>
                            <li>Edited and proofread university security guidance and conducted research on CMMC guidelines to support NIST 800-171 compliance efforts.</li>
                            <li>Utilized Microsoft Excel to extract, comprehend, and analyze data, providing valuable insights and recommendations to enhance client budget management and strategic decision-making.</li>
                        </ul>
                        <strong style="font-size: 1.2em; display: inline-block">Cyber Security Consultant Intern</strong>
                        <br><p style="display: inline-block; margin: 0.5em">EY / June 2021 - August 2021</p><br>
                        <ul>
                            <li>Defined and implemented identity/access management infrastructure alongside cybersecurity team to support controls and technology rationalization for large social media client</li>
                            <li>Assisted organization in SIEM migration by configuring Splunk, building correlation logic for security alerting and developing roadmap for future growth and improvement of program</li>
                            <li>Integrated threat intelligence framework with Splunk to leverage threat intelligence to feed into cybersecurity alerting logic and highlight potential threats</li>
                            <li>Composed business proposal/presentation for electric services client as part of internship capstone alongside team of 11 interns with solutions to further climate agenda through promoting electrical vehicle adoption by consumers</li>
                        </ul>
                        <strong style="font-size: 1.2em; display: inline-block">Internal Auditor Co-op</strong>
                        <br><p style="display: inline-block; margin: 0.5em">Global Indemnity Group, Inc. / September 2015 - March 2016</p><br>
                        <ul>
                            <li>Completed testing for multiple audits and analyzed the results to build an audit report. </li>
                            <li>Performed SOX control testing to certify key controls are operating effectively.</li>
                            <li>Partnered with Senior Auditor to conduct an operational audit on policies underwritten by agents in order to identify inadequate policy documentation practices; resulted in better underwriting practices. </li>
                        </ul>
                        <strong style="font-size: 1.2em; display: inline-block">Financial Analyst</strong>
                        <br><p style="display: inline-block; margin: 0.5em">SAP America, Inc. / September 2015 - March 2016</p><br>
                        <ul>
                            <li>Provided support for reporting North America operating forecast, analytics and reporting accruals for all organization support, IT month-end close activities, analysis of actual results, and additional ad-hoc projects.</li>
                            <li>Assisted Local Chief America in projects, expectations, and tasks; performed month-end close duties including journal entries, intercompany invoicing, expense accruals, and internal allocations under supervision of financial analyst.</li>
                            <li>Completed projects skills/competencies with Microsoft Office, specifically Excel.</li>
                            <li>Participated with a hand-selected group on an International Business Traveler’s tax withholding and remittance project.</li>
                            <li>Tracked and monitored USA IBT’s time spent in Canada, and used relevant data to determine tax implications on an individual basis.</li>
                            <li>Worked with Deloitte consultants while issuing T-4s to each IBT with tax implications to the CRA (Canada Revenue Agency).</li>
                        </ul>

                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}